{% extends 'base.html.twig' %}

{% block defaultBody %}
{{ form_start(form) }}

<div class="row">
    <div class="col s10 offset-s1">
        <div class="card-panel">
            {% if edit is not defined or edit == false %}
				<span>
					<h4 class="title">
						Nuevo Trámite
						<span class="right" style="margin-top: 5px;">
							<small style="font-size:60%" class="grey-text">Estado:</small> <a id="status-{{ tramite.id }}" class='btn disabled' href='#' onclick="loadEstados({{ tramite.id }})">{{ tramite.estadoActual.estado }}</a></span>
					</h4>
				</span>
            {% else %}
                <span>
					<h4 class="title">
						Editar Trámite
						<span class="right" style="margin-top: 5px;">
							<small style="font-size:60%" class="grey-text">Estado:</small> <a id="status-{{ tramite.id }}" class='btn tooltipped' data-tooltip="Haga click para editar el estado" href='#' onclick="loadEstados({{ tramite.id }})">{{ tramite.estadoActual.estado }}</a></span>
					</h4>
				</span>
            {% endif %}

            <div class="row">
                <div class="col m6">
                    <div class="input-field">
                        {{ form_widget(form.codigoInternoConcesionaria) }}
                        {{ form_label(form.codigoInternoConcesionaria) }}
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
						{% if edit is not defined or edit == false %}
                        	{{ form_widget(form.fecha, {'attr': {'class': 'datepicker'}}) }}
						{% else %}
							{{ form_widget(form.fecha, {'attr': {'class': 'datepickerEmpty'}}) }}
						{% endif %}
                        {{ form_label(form.fecha) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m6">
                    <div class="input-field">
                        {{ form_widget(form.concesionaria) }}
                        {{ form_label(form.concesionaria) }}
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        {{ form_widget(form.registroDelAutomotor) }}
                        {{ form_label(form.registroDelAutomotor) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s10 offset-s1">
        <div class="card-panel">
            <h5 class="title">Titular</h5>
			<div class="row">
				<div class="col m6">
					<div class="input-field">
						{{ form_widget(form.dniTitular, { 'type':'number' }) }}
						{{ form_label(form.dniTitular) }}
					</div>
				</div>
				<div class="col m6">
					<div class="input-field">
						{{ form_widget(form.provinciaTitular) }}
						{{ form_label(form.provinciaTitular) }}
					</div>
				</div>
			</div>

            <div class="row">
                <div class="col m6">
                    <div class="input-field">
                        {{ form_widget(form.nombreTitular) }}
                        {{ form_label(form.nombreTitular) }}
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        {{ form_widget(form.apellidoTitular) }}
                        {{ form_label(form.apellidoTitular) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col s10 offset-s1">
        <div class="card-panel">
            <h5 class="title">Depositos</h5>
            <div class="row">
                <div class="col m12">
					<div class="row">
						<div class="input-field">
							{{ form_widget(form.depositoEnRegistro, {'attr': {'class': 'numberInput', 'pattern':'[0-9]+([,\.][0-9]+)?' } }) }}
							{{ form_label(form.depositoEnRegistro) }}
						</div>
					</div>

					<table id="depositosTable" class="striped highlight collapse">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Monto</th>
								<th class="fit">Acciones</th>
							</tr>
						</thead>
						<tbody>
							{% for deposito in tramite.depositos %}
								<tr id="deposito-{{ deposito.id }}">
									<td>{{ deposito.fecha|date('d/m/Y') }}</td>
									<td>${{ deposito.monto|number_format(2, ',', '.') }}</td>
									<td>
										<a onclick="confirmModal(deleteDeposito,{id:{{ deposito.id }}, monto:{{ deposito.monto }}})" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">delete</i></a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					{% if edit is defined and edit == true %}
					<p class="center-align"><b>Total depositado en Registro:</b> <span id="totalDepositadoEnRegistro">${{ tramite.getTotalDepositadoEnRegistro() }}</span></p>
					{% endif %}
                </div>

				{#
                <div class="col m6">
                    <div class="input-field">
                        {{ form_widget(form.depositoGestoria, {'attr': {'class': 'numberInput', 'pattern':'[0-9]+([,\.][0-9]+)?' } }) }}
                        {{ form_label(form.depositoGestoria) }}
                    </div>
					{% if edit is defined and edit == true %}
					<p class="center-align"><b>Total depositado en Gestoria:</b> ${{ tramite.getTotalDepositadoGestoria}}</p>
					{% endif %}
                </div>
				#}

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s10 offset-s1">
        <div class="card-panel">
            <h5 class="title">Gastos</h5>
            <div class="row">
                <div class="col m2">
                    <div class="input-field">
                        {{ form_widget(form.gastoArancel, {'attr': {'class': 'totalEnRegistro numberInput', 'pattern':'[0-9]+([,\.][0-9]+)?' } }) }}
                        {{ form_label(form.gastoArancel) }}
                    </div>
                </div>

                <div class="col m2">
                    <div class="input-field">
                        {{ form_widget(form.impuestosPatente, {'attr': {'class': 'totalEnRegistro numberInput', 'pattern':'[0-9]+([,\.][0-9]+)?' } }) }}
                        {{ form_label(form.impuestosPatente) }}
                    </div>
                </div>

                <div class="col m2">
                    <div class="input-field">
                        {{ form_widget(form.selladosRegistro, {'attr': {'class': 'totalEnRegistro numberInput', 'pattern':'[0-9]+([,\.][0-9]+)?' } } ) }}
                        {{ form_label(form.selladosRegistro) }}
                    </div>
                </div>

                <div class="col m2">
                    <div class="input-field">
                        {{ form_widget(form.selladosGestoria, {'attr': {'class': 'totalGestoria numberInput', 'pattern':'[0-9]+([,\.][0-9]+)?' } } ) }}
                        {{ form_label(form.selladosGestoria) }}
                    </div>
                </div>

                <div class="col m2">
                    <div class="input-field">
                        {{ form_widget(form.honorarios, {'attr': {'class': 'totalGestoria numberInput', 'pattern':'[0-9]+([,\.][0-9]+)?' } }) }}
                        {{ form_label(form.honorarios) }}
                    </div>
                </div>

                <div class="col m2">
                    <div class="input-field">
                        {{ form_widget(form.otros, {'attr': {'class': 'totalGestoria numberInput', 'pattern':'[0-9]+([,\.][0-9]+)?' } }) }}
                        {{ form_label(form.otros) }}
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>

<div class="row">
    <div class="col s10 offset-s1">
        <div class="card-panel">
            <h5>Gastos Adicionales (en Gestoría)</h5>
			<table id="gastosAdicionalesTable" class="striped highlight collapse">
				<thead>
					<tr>
						<th>Concepto</th>
						<th>Monto</th>
						<th class="fit">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for gastoAdicional in tramite.gastosAdicionales %}
						<tr id="gasto-{{ gastoAdicional.id }}">
							<td>{{ gastoAdicional.concepto }}</td>
							<td>${{ gastoAdicional.monto|number_format(2, ',', '.') }}</td>
							<td>
								<a onclick="confirmModal(deleteGastoAdicional,{id:{{ gastoAdicional.id }}, monto:{{ gastoAdicional.monto }}, isPersisted:true})" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">delete</i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>
			<button class="waves-effect waves-light btn modal-trigger" style="width:100%" href="#addGastoModal">Agregar Gasto</button>
		</div>
	</div>
</div>

<div class="row">
    <div class="col s10 offset-s1">
        <div class="card-panel">

			{% set totalEnRegistro = tramite.getTotalEnRegistro() %}
			{% set totalGestoria = tramite.getTotalGestoria() %}

			<div class="row">
				<div class="col m6 center-align">
					<b>Total en registro: </b>
					$<span class="showTotalEnRegistro">{{ totalEnRegistro }}</span>
				</div>
				<div class="col m6 center-align">
					<b>Total gestoría: </b>
					$<span class="showTotalGestoria">{{ totalGestoria }}</span>
				</div>
			</div>

			<div class="row" style="margin-bottom:0px">
				<div class="col m12 center-align">
					<h5>
						<b>Total: </b>
						$<span class="showTotal">{{ totalEnRegistro + totalGestoria }}</span>
					</h6>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="row">
    <div class="center-align">
        <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">save</i>Guardar</button>
        <a href="{{ path('tramite_index') }}"><button type="button" class="btn-flat waves-effect waves-light">Cancelar</button></a>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
	var deleteGastoPath="{{ path('remove_gasto_tramite',{'id':'idGasto'}) }}"
	var deleteDepositoPath="{{ path('remove_deposito_tramite',{'id':'idDeposito'}) }}"
	var totalGastosAdicionalesGestoria={{ tramite.getTotalGastosAdicionalesEnGestoria() }}
	var totalDepositado={{ tramite.getTotalDepositadoEnRegistro() }}
</script>
<script type="text/javascript" src="{{ asset('js/tramite/form.js') }}"></script>

{% if edit is defined and edit == true %}
	<script type="text/javascript">
		var urlGetStatus="{{ path('tramite_status',{'id':tramite.id}) }}"
		var urlAddStatus="{{ path('tramite_addEstado',{'id':tramite.id}) }}"
	</script>
	<script type="text/javascript" src="{{ asset('js/tramite/component/modalTramiteStatus.js') }}"></script>
{% endif %}
{% endblock %}

{% block modals %}
<div id="addGastoModal" class="modal">
	<div class="modal-content">
		<h4>Nuevo Gasto Adicional</h4>
		<div class="card">
			<div class="card-content">
				<div class="row">
					<h5>Datos del Gasto</h5>
					<div class="input-field col s6">
						<input id="conceptoNuevoGasto" class="newGastoAdicionalField" type="text">
						<label for="conceptoNuevoGasto">Concepto</label>
					</div>
					<div class="input-field col m6">
						<input id="montoNuevoGasto" type="text" class="numberInput newGastoAdicionalField" pattern="[0-9]+([,\.][0-9]+)?">
						<label for="montoNuevoGasto">Monto</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button id="addGastoAdicionalButton" class="modal-action modal-close waves-effect btn" onclick="addGastoAdicional()" disabled>Aceptar</button>
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
	</div>
</div>

{% if edit is defined and edit == true %}
	{% include 'tramite/components/modalTramiteStatus.html.twig' %}
{% endif %}

{% endblock %}
