{% extends 'base.html.twig' %}

{% block body %}
{% if edit is not defined or edit == false %}
    <h4 class="title">Nuevo Trámite</h4>
{% else %}
    <h4 class="title">Editar Trámite</h4>
{% endif %}

{{ form_start(form) }}

    <div class="row">
        <div class="col m6">
            <div class="input-field">
                {{ form_widget(form.concesionaria) }}
                {{ form_label(form.concesionaria) }}
            </div>
        </div>
        <div class="col m6">
            <div class="input-field">
                {{ form_widget(form.fecha) }}
                {{ form_label(form.fecha) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m3">
            <div class="input-field">
                {{ form_widget(form.gastoArancel, { 'type':'number' }) }}
                {{ form_label(form.gastoArancel) }}
            </div>
        </div>

        <div class="col m3">
            <div class="input-field">
                {{ form_widget(form.impuestosPatente, { 'type':'number' }) }}
                {{ form_label(form.impuestosPatente) }}
            </div>
        </div>

        <div class="col m3">
            <div class="input-field">
                {{ form_widget(form.sellados, { 'type':'number' }) }}
                {{ form_label(form.sellados) }}
            </div>
        </div>

        <div class="col m3">
            <div class="input-field">
                {{ form_widget(form.honorarios, { 'type':'number' }) }}
                {{ form_label(form.honorarios) }}
            </div>
        </div>
    </div>

    <div class="center-align">
        <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">save</i>Guardar</button>
        <a href="{{ path('tramite_index') }}"><button type="button" class="btn-flat waves-effect waves-light">Cancelar</button></a>
    </div>
{{ form_end(form) }}
{% endblock %}
