{% extends 'base.html.twig' %}

{% block body %}
    <h4>Trámites</h4>

    <table class="striped highlight">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Concesionaria</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tramite in tramites %}
            <tr>
                <td>{% if tramite.fecha %}{{ tramite.fecha|date('d/m/Y') }}{% endif %}</td>
                <td>{{ tramite.concesionaria.nombre }}</td>
                <td class="fit">
                    <a id="status-{{ tramite.id }}" class='btn' href='#' onclick="openStatusModal({{ tramite.id }})">{{ tramite.estado }}</a>
                </td>
                <td class="fit">
                    <a href="{{ path('tramite_edit', { 'id': tramite.id }) }}" class="btn waves-effect waves-light no-lateral-padding"><i class="material-icons">mode_edit</i></a>
                    <a href="#" class="btn waves-effect waves-light no-lateral-padding amber darken-3" onclick="modalPago({{ tramite.gastoArancel}},{{ tramite.impuestosPatente}},{{ tramite.sellados}},{{ tramite.honorarios}})"><i class="material-icons">local_atm</i></a>
                    <a href="{{ path('tramite_delete', { 'id': tramite.id }) }}" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="fixed-action-btn">
        <a href="{{ path('tramite_new') }}" class="btn-floating btn-large waves-effect waves-light teal darken-2">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}

{% block modals %}
<!-- Modal Structure -->
<div id="statusModal" class="modal modal-fixed-footer">
  <div class="modal-content">
      <h4>Estados</h4>
      <div id="estadosCollection" class="collection">
        <a href="#!" class="collection-item">Pendiente</a>
        <a href="#!" class="collection-item">Presentado</a>
        <a href="#!" class="collection-item">Observado</a>
        <a href="#!" class="collection-item">Reingresado</a>
        <a href="#!" class="collection-item">Retirado</a>
        <a href="#!" class="collection-item">Enviado</a>
      </div>
  </div>
  <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect btn" onclick="doUpdateStatus()">Aceptar</a>
      <a href="#!" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
  </div>
</div>

<div id="payModal" class="modal modal-fixed-footer">
  <div class="modal-content">
      <h4>Resumen Gastos</h4>
      <table class="striped hovered">
          <thead>
              <tr>
                  <th>Concepto</th>
                  <th>Valor</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Gastos Arancel</td>
                  <td class="gastosArancel"></td>
              </tr>
              <tr>
                  <td>Impuestos Patente</td>
                  <td class="impuestosPatente"></td>
              </tr>
              <tr>
                  <td>Sellados</td>
                  <td class="sellados"></td>
              </tr>
              <tr>
                  <td>Honorarios</td>
                  <td class="honorarios"></td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect btn">Aceptar</a>
      <a href="#!" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/tramite/index.js') }}"></script>
{% endblock %}
