{% extends 'base.html.twig' %}

{% block body %}
<h4>Trámites</h4>


<form action="{{ path('tramite_index') }}" method="post">

	{% if app.user.getRol() != 'ROLE_CONCESIONARIA' %}
		<ul class="collapsible" data-collapsible="accordion" style="margin-top:20px">
			<li>
				<div class="collapsible-header {% if filtroAplicado %}active{% endif %}"><i class="material-icons">search</i>Filtros de búsqueda</div>
				<div class="collapsible-body grey lighten-5" style="padding-top:15px; padding-bottom:0px">
					<div class="row" style="margin-bottom:0">
						<div class="col m4">
							<div class="input-field">
								<input type="text" class="datepickerEmpty" name="fromDate" value="{{ filtro.fromDate }}">
								<label>Fecha desde</label>
							</div>
						</div>
						<div class="col m4">
							<div class="input-field">
								<input type="text" class="datepickerEmpty" name="toDate" value="{{ filtro.toDate }}">
								<label>Fecha hasta</label>
							</div>
						</div>
						<div class="col m4">
							<div class="input-field">
								<select name="concesionaria" value="{{ filtro.concesionaria }}">
									<option value="" {% if filtro.concesionaria == '' %}selected{% endif %}>TODAS</option>
									{% for concesionaria in concesionarias %}
										<option value="{{ concesionaria.id }}" {% if filtro.concesionaria == concesionaria.id %}selected{% endif %}>{{ concesionaria.nombre }}</option>
									{% endfor %}
								</select>
								<label>Concesionaria</label>
							</div>
						</div>
					</div>

					<div class="row" style="margin-bottom:0px">
						<div class="col m4">
							<div class="input-field">
								<input type="text" name="codigoInternoConcesionaria" value="{{ filtro.codigoInternoConcesionaria }}">
								<label>Código Interno</label>
							</div>
						</div>
						<div class="col m4">
							<div class="input-field">
								<input type="text" id="input-titular" class="autocomplete" autocomplete="off" value="{{ filtro.titularString }}">
								<label for="autocomplete-input">Titular</label>
							</div>
							<input id="hiddenInputTitular" type="hidden" name="titular" value="{{ filtro.titular }}">
						</div>
						<div class="col m4">
							<div class="input-field">
								<select name="estado" value="{{ filtro.estado }}">
									<option value="" {% if filtro.estado == '' %}selected{% endif %}>TODOS</option>
									{% for estado in estados %}
										<option value="{{ estado }}" {% if filtro.estado == estado %}selected{% endif %}>{{ estado }}</option>
									{% endfor %}
								</select>
								<label>Estado</label>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col m12">
							<button class="btn right waves-effect" type="submit">Buscar</button>
							<a class="btn-flat waves-effect right" style="margin-right:5px" onclick="resetInputs()">Limpiar</a>
						</div>
					</div>

				</div>
			</li>
		</ul>
	{% else %}
		<div class="row" style="margin-bottom:0">
			<div class="col m3">
				<div class="input-field">
					<input type="text" class="datepickerEmpty" name="fromDate" value="{{ filtro.fromDate }}">
					<label>Fecha desde</label>
				</div>
			</div>
			<div class="col m3">
				<div class="input-field">
					<input type="text" class="datepickerEmpty" name="toDate" value="{{ filtro.toDate }}">
					<label>Fecha hasta</label>
				</div>
			</div>

			<div class="col m3">
				<div class="input-field">
					<input type="text" id="input-titular" class="autocomplete" autocomplete="off" value="{{ filtro.titularString }}">
					<label for="autocomplete-input">Titular</label>
				</div>
				<input id="hiddenInputTitular" type="hidden" name="titular" value="{{ filtro.titular }}">
			</div>
			<div class="col m3">
				<div class="input-field">
					<select name="estado" value="{{ filtro.estado }}">
						<option value="" {% if filtro.estado == '' %}selected{% endif %}>TODOS</option>
						{% for estado in estados %}
							<option value="{{ estado }}" {% if filtro.estado == estado %}selected{% endif %}>{{ estado }}</option>
						{% endfor %}
					</select>
					<label>Estado</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col m12">
				<button class="btn right waves-effect" type="submit">Buscar</button>
				<a class="btn-flat waves-effect right" style="margin-right:5px" onclick="resetInputs()">Limpiar</a>
			</div>
		</div>
	{% endif %}



</form>


<table class="striped highlight">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Concesionaria</th>
			<th>Titular</th>
			<th>Registro del Automotor</th>
			<th>Estado</th>
			<th class="fit">Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for tramite in tramites %}
		<tr id="tramite-{{ tramite.id }}">
			<td>{% if tramite.fecha %}{{ tramite.fecha|date('d/m/Y') }}{% endif %}</td>
			<td>{{ tramite.concesionaria.nombre }}</td>
			<td>{{ tramite.titular.toString() }}</td>
			<td>{{ tramite.registroDelAutomotor.nombre }}</td>
			<td class="fit">
				<a id="status-{{ tramite.id }}" class='btn' href='#' onclick="loadEstados({{ tramite.id }})">{{ tramite.estadoActual.estado }}</a>
			</td>
			<td class="fit">
				{% if is_granted('ROLE_GESTION') %}
					<a href="{{ path('tramite_edit', { 'id': tramite.id }) }}" class="btn waves-effect waves-light no-lateral-padding"><i class="material-icons">mode_edit</i></a>
				{% endif %}
				<a href="#" class="btn waves-effect waves-light no-lateral-padding amber darken-3 openModalPago"
				onclick="modalPago({{ tramite.serialize() }})">
					<i class="material-icons">local_atm</i>
				</a>
				{% if is_granted('ROLE_GESTION') and tramite.deletedAt is null %}<a onclick="confirmModal('{{ path('tramite_delete', { 'id': tramite.id }) }}')" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">delete</i></a>{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

{% block modals %}

{% if is_granted('ROLE_GESTION') %}
	<div class="fixed-action-btn">
		<a href="{{ path('tramite_new') }}" class="btn-floating btn-large waves-effect waves-light teal darken-2">
	        <i class="large material-icons">add</i>
	    </a>
	</div>
{% endif %}

<div id="statusModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Estados</h4>
		<ul id="statusAccordion" class="collapsible" data-collapsible="accordion"></ul>
	</div>
	<div class="modal-footer">
		{% if is_granted('ROLE_GESTION') %}
			<a class="modal-action waves-effect btn modal-trigger" href="#addStatusModal">Agregar Estado</a>
		{% endif %}
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Cerrar</a>
	</div>
</div>

{% if is_granted('ROLE_GESTION') %}
	<div id="addStatusModal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>Nuevo Estado</h4>
			<div class="card">
				<div class="card-content">
					<div class="row">
						<div class="input-field col s12">
							<select id="inputEstado">
								{% for estado in estados %}
									<option value="{{ estado }}">{{ estado }}</option>
								{% endfor %}
	                        </select>
							<label>Estado</label>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<textarea id="inputObservacion" class="materialize-textarea"></textarea>
							<label for="inputObservacion">Observacion</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect btn" onclick="doAddStatus()">Aceptar</a>
			<a href="#!" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
		</div>
	</div>
{% endif %}

<div id="payModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Resumen Gastos</h4>
		<p class="fechaLiquidacion red-text"></p>

		<div class="card-panel">
			<h5>Gastos en Gestoria</h5>
			<table class="striped hovered">
				<thead>
					<tr>
						<th>Concepto</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sellados Gestoria</td>
						<td class="selladosGestoria"></td>
					</tr>
					<tr>
						<td>Honorarios</td>
						<td class="honorarios"></td>
					</tr>
					<tr>
						<td>Otros</td>
						<td class="otros"></td>
					</tr>

					<tr id="totalGestoriaModal">
						<td><b>Gastos Gestoria</b></td>
						<td><b class="totalGestoria"></b></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="card-panel">
			<h5>Gastos en Registro</h5>
			<table class="striped hovered">
				<thead>
					<tr>
						<th>Concepto</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Gastos Arancel</td>
						<td class="gastosArancel"></td>
					</tr>
					<tr>
						<td>Impuestos Patente</td>
						<td class="impuestosPatente"></td>
					</tr>
					<tr>
						<td>Sellados Registro</td>
						<td class="selladosRegistro"></td>
					</tr>
					<tr>
						<td><b>Depositado en Registro</b></td>
						<td><b class="totalDepositadoEnRegistro"></b></td>
					</tr>
					<tr>
						<td><b>Gastos en Registro</b></td>
						<td><b class="totalEnRegistro"></b></td>
					</tr>
					<tr>
						<td><b>Restante en Registro</b></td>
						<td><b class="restoEnRegistro"></b></td>
					</tr>
				</tbody>
			</table>
			<br>
			<div class="center-align">
				<button id="tranferRestoButton" class="waves-effect btn" onclick="confirmModal(doAddResto)" disabled>Agregar restante a cuenta gestoria</button>
			</div>
		</div>

		<br>
		<div class="center-align">
			<h5><b>TOTAL Gastos: </b><b class="total"></b></h5>
		</div>

	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Cerrar</a>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
	var queryTitulares="{{ path('titular_search') }}";
</script>
<script src="{{ asset('js/tramite/index.js') }}"></script>
{% endblock %}
