{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tramite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tramite.id }}</td>
            </tr>
            <tr>
                <th>Gastoarancel</th>
                <td>{{ tramite.gastoArancel }}</td>
            </tr>
            <tr>
                <th>Impuestospatente</th>
                <td>{{ tramite.impuestosPatente }}</td>
            </tr>
            <tr>
                <th>Sellados</th>
                <td>{{ tramite.sellados }}</td>
            </tr>
            <tr>
                <th>Honorarios</th>
                <td>{{ tramite.honorarios }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tramite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tramite_edit', { 'id': tramite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
