{% extends 'base.html.twig' %}

{% block body %}
    {% if edit is not defined or edit == false %}
        <h4 class="title">Nuevo Movimiento</h4>
    {% else %}
        <h4 class="title">Editar Movimiento</h4>
    {% endif %}

    {{ form_start(form) }}
        <div class="row">
            <div class="col m6">
                <div class="input-field">
                    {{ form_widget(form.concesionaria) }}
                    {{ form_label(form.concesionaria) }}
                </div>
            </div>

            <div class="col m6">
                <div class="input-field">
                    {{ form_widget(form.tipo) }}
                    {{ form_label(form.tipo) }}
                </div>
            </div>
        </div>

        <div id="registroDelAutomotorField" class="row collapse">
            <div class="col m12">
                <div class="input-field">
                    {{ form_widget(form.registroDelAutomotor) }}
                    {{ form_label(form.registroDelAutomotor) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col m6">
                <div class="input-field">
                    {{ form_widget(form.monto, {'attr': {'class': 'numberInput', 'pattern':'[0-9]+([,\.][0-9]+)?' } }) }}
                    {{ form_label(form.monto) }}
                </div>
            </div>

            <div class="col m6">
                <div class="input-field">
                    {{ form_widget(form.fecha) }}
                    {{ form_label(form.fecha) }}
                </div>
            </div>
        </div>



        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">save</i>Guardar</button>
            <a href="{{ path('movimiento_index') }}"><button type="button" class="btn-flat waves-effect waves-light">Cancelar</button></a>
        </div>

        {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $("select[name='appbundle_movimiento[tipo]']").change(function(){
            if($(this).val() == 3 || $(this).val() == 4){
                $('#registroDelAutomotorField').show();
            }
            else{
                $('#registroDelAutomotorField').hide();
            }
        });
    })
</script>
{% endblock %}
