{% extends 'base.html.twig' %}

{% block body %}
    <h4>Movimientos</h4>

    <table class="striped highlight">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Concesionaria</th>
				<th>Titular Trámite</th>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr {{ (movimiento.deletedAt != null) ? ' class="red lighten-4"' }}>
                <td>{% if movimiento.fecha %}{{ movimiento.fecha|date('d/m/Y') }}{% endif %}</td>
                <td>{{ movimiento.concesionaria.nombre }}</td>
				<td>{% if movimiento.tramite %}{{ movimiento.tramite.titular.toString() }}{% endif %}</td>
                <td>{{ (movimiento.isContramovimiento) ? 'Contramovimiento - ' }}{{ movimiento.getTipoCanonical() }}</td>
                <td>${{ movimiento.monto|number_format(2, ',', '.') }}</td>
                <td class="fit">
                    {% if movimiento.deletedAt == null %}
                        <a onclick="confirmModal('{{ path('movimiento_delete', { 'id': movimiento.id }) }}')" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">block</i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block modals %}
    <div class="fixed-action-btn">
        <a href="{{ path('movimiento_new') }}" class="btn-floating btn-large waves-effect waves-light teal darken-2">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
