{% extends 'base.html.twig' %}

{% block body %}
    <h4>Movimientos</h4>

    <table class="responsive-table striped highlight">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr>
                <td>{% if movimiento.fecha %}{{ movimiento.fecha|date('d/m/Y') }}{% endif %}</td>
                <td>{{ movimiento.tipo }}</td>
                <td>${{ movimiento.monto }}</td>
                <td class="fit">
                    <a href="{{ path('movimiento_edit', { 'id': movimiento.id }) }}" class="btn waves-effect waves-light no-lateral-padding"><i class="material-icons">mode_edit</i></a>
                    <a href="{{ path('movimiento_delete', { 'id': movimiento.id }) }}" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="fixed-action-btn">
        <a href="{{ path('movimiento_new') }}" class="btn-floating btn-large waves-effect waves-light teal darken-2">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
