{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<h4>Nuevo Usuario</h4>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="row">
        <div class="col m6">
            <div class="input-field">
                {{ form_widget(form.nombre) }}
                {{ form_label(form.nombre) }}
            </div>
        </div>
        <div class="col m6">
            <div class="input-field">
                {{ form_widget(form.apellido) }}
                {{ form_label(form.apellido) }}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col m6">
            <div class="input-field">
                {{ form_widget(form.username) }}
                {{ form_label(form.username) }}
            </div>
        </div>
        <div class="col m6">
            <div class="input-field">
                {{ form_widget(form.email) }}
                {{ form_label(form.email) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="input-field">
                {{ form_widget(form.rol) }}
                {{ form_label(form.rol) }}
            </div>
        </div>
    </div>

	<div id="concesionariaContainer" class="row collapse">
		<div class="col s12">
			<div class="input-field">
				{{ form_widget(form.concesionaria) }}
				{{ form_label(form.concesionaria) }}
			</div>
		</div>
	</div>

    <div class="row">
        <div class="col m6">
            <div class="input-field">
                {{ form_widget(form.plainPassword.first) }}
                {{ form_label(form.plainPassword.first) }}
            </div>
        </div>
        <div class="col m6">
            <div class="input-field">
                {{ form_widget(form.plainPassword.second) }}
                {{ form_label(form.plainPassword.second) }}
            </div>
        </div>
    </div>

    <div class="center-align">
        <input class="btn waves-effect waves-light" type="submit" id="_submit" name="_submit" value="Enviar" />
    </div>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script>
	var emptyValue=true;
    $(document).ready(function() {
        $('#fos_user_registration_form_rol').change(function(){
			if($(this).val() == 'ROLE_CONCESIONARIA'){
				$('#concesionariaContainer').show();
				$('#fos_user_registration_form_concesionaria option[value=""]').remove();
				$('#fos_user_registration_form_concesionaria').material_select('destroy');
				$('#fos_user_registration_form_concesionaria').material_select();
				emptyValue=false;
			}
			else{
				$('#concesionariaContainer').hide();
				if(!emptyValue){
					var o = new Option("", "");
					o.selected=true;
					$('#fos_user_registration_form_concesionaria').prepend(o);
					$('#fos_user_registration_form_concesionaria').material_select('destroy');
					$('#fos_user_registration_form_concesionaria').material_select();
					emptyValue=true;
				}
			}
		})
    });
</script>
{% endblock %}
