{% extends 'base.html.twig' %}

{% block body %}
    <h4>Titulares</h4>

    <table class="striped highlight">
        <thead>
            <tr>
				<th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Provincia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for titular in titulares %}
            <tr>
				<td>{{ titular.dni }}</td>
                <td>{{ titular.nombre|capitalize }}</td>
                <td>{{ titular.apellido|capitalize }}</td>
                <td>{{ titular.provincia.nombre }}</td>
                <td class="fit">
                    <a href="{{ path('titular_edit', { 'id': titular.id }) }}" class="btn waves-effect waves-light no-lateral-padding"><i class="material-icons">mode_edit</i></a>
                    <a onclick="confirmModal('{{ path('titular_delete', { 'id': titular.id }) }}')" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block modals %}
    <div class="fixed-action-btn">
        <a href="{{ path('titular_new') }}" class="btn-floating btn-large waves-effect waves-light teal darken-2">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
