{% extends 'base.html.twig' %}

{% block body %}
    <h4>Concesionarias</h4>

    <table class="striped highlight">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Saldo Depositado</th>
                <th>Saldo en Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for concesionaria in concesionarias %}
            <tr>
                <td>{{ concesionaria.nombre }}</td>
                <td>${{ concesionaria.saldoDepositado|number_format(2, ',', '.') }}</td>
                <td><a class="btn waves-effect waves-light no-lateral-padding" onclick="loadAccountsModal({{concesionaria.id}})">Ver Cuentas</a></td>
                <td class="fit">
                    <a href="{{ path('concesionaria_edit', { 'id': concesionaria.id }) }}" class="btn waves-effect waves-light no-lateral-padding"><i class="material-icons">mode_edit</i></a>
                    <a onclick="confirmModal('{{ path('concesionaria_delete', { 'id': concesionaria.id }) }}')" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block modals %}
<div class="fixed-action-btn">
    <a href="{{ path('concesionaria_new') }}" class="btn-floating btn-large waves-effect waves-light teal darken-2">
        <i class="large material-icons">add</i>
    </a>
</div>

<div id="accountsModal" class="modal modal-fixed-footer">
  <div class="modal-content">
      <h4>Saldo en Registros</h4>
      <table id="tableCuentas" class="striped hovered">
          <thead>
              <tr>
                  <th>Registro del Automotor</th>
                  <th>Saldo</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
  </div>
  <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect btn-flat">Cerrar</a>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    function loadAccountsModal(idConcesionaria){
        ajaxCall(idConcesionaria+"/cuentas",{},function(response){
            $('#tableCuentas tbody').empty();
            accountCollection=JSON.parse(response);
            $.each(accountCollection,function(index, account){
                addAccount(account);
            });
            $('#accountsModal').modal('open');
        });
    }

    function addAccount(account){
        $('#tableCuentas tbody').append('<tr><td>'+account.registroDelAutomotor.nombre+'</td><td>$'+formatMoney(account.saldo)+'</td></tr>');
    }

    function formatMoney(amount){
        return (parseFloat(amount.replace(',','')).toFixed(2)+'').replace('.',',');
    }
</script>
{% endblock %}
