{% extends 'base.html.twig' %}

{% block body %}
    <h4>Concesionarias</h4>

    <table class="striped highlight">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Saldo Depositado</th>
                <th>Saldo en Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for concesionaria in concesionarias %}
            <tr>
                <td>{{ concesionaria.nombre }}</td>
                <td>${{ concesionaria.saldoDepositado|number_format(2, ',', '.') }}</td>
                <td><a href="#" class="btn waves-effect waves-light no-lateral-padding">Ver Cuentas</a></td>
                <td class="fit">
                    <a href="{{ path('concesionaria_edit', { 'id': concesionaria.id }) }}" class="btn waves-effect waves-light no-lateral-padding"><i class="material-icons">mode_edit</i></a>
                    <a href="{{ path('concesionaria_delete', { 'id': concesionaria.id }) }}" class="btn waves-effect waves-light no-lateral-padding red"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="fixed-action-btn">
        <a href="{{ path('concesionaria_new') }}" class="btn-floating btn-large waves-effect waves-light teal darken-2">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
