{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concesionarias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Saldodepositado</th>
                <th>Saldoenregistro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concesionarium in concesionarias %}
            <tr>
                <td><a href="{{ path('concesionaria_show', { 'id': concesionarium.id }) }}">{{ concesionarium.id }}</a></td>
                <td>{{ concesionarium.nombre }}</td>
                <td>{{ concesionarium.saldoDepositado }}</td>
                <td>{{ concesionarium.saldoEnRegistro }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('concesionaria_show', { 'id': concesionarium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('concesionaria_edit', { 'id': concesionarium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concesionaria_new') }}">Create a new concesionarium</a>
        </li>
    </ul>
{% endblock %}
